# Composer
/vendor/
composer.lock

# PHPUnit
.phpunit.result.cache
.phpunit.cache/

# macOS
.DS_Store
**/.DS_Store

# IDE
.idea/
.vscode/
*.swp

# Build output
/dist/
/build/

# Local config
.env
wp-tests-config.php
